	html, body {
		margin:0;
		padding:0;
	}
	body {	background-color: #dddddd;
			font-family: Verdana, Sans-serif;
			font-size: 0.9em;
			}

	#mainbody {
		width:80%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 60px;
	}

    #headerdiv {
        width: 80%;
        margin: 0 auto;
    }

	#logo {
		font-family: Impact, Sans-serif;
		color: #CC5500;
		font-size: 2.5em;
		font-weight: bold;
        margin-top: 10px;
	}

    #status {
        text-align: right;
        margin-bottom: 5px;
		color: #CC5500;
    }

    #menu {
        text-align: right;
    }

    #menu ul {
        height: auto;
        margin: 0;
        padding: 0;
    }

    #menu li {
        display: inline-block;
        list-style-type: none;
        margin-left: 5px;
    }

    #menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
        text-decoration: none;
    }

    #menu a:link, #menu a:visited {
        color: #004A80;
    }

    #menu a:hover {
        color: #592500;
        text-shadow: 0px 0px 7px #CC5500;
    }

    #menu a:active {
        color: #4CB5FF;
    }

